[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhangshuyun
[access "refs/for/refs/*"]
	read = group user/zhangshuyun
	push = group user/zhangshuyun
	label-Code-Review = -2..+2 group user/zhangshuyun
	label-Verified = -1..+1 group user/zhangshuyun
	rebase = group user/zhangshuyun
	removeReviewer = group user/zhangshuyun
	submit = group user/zhangshuyun
[access "refs/heads/*"]
	read = group user/zhangshuyun
	create = group user/zhangshuyun
	push = +force group user/zhangshuyun
	pushMerge = group user/zhangshuyun
[access "refs/tags/*"]
	push = +force group user/zhangshuyun
	pushTag = group user/zhangshuyun
	pushSignedTag = group user/zhangshuyun
